<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.accountingofcontracts/menu.application" insertBefore="administration">
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Client.browse" caption="msg://com.company.accountingofcontracts.screen.client/clientBrowse.menu"/>
        <item screen="Contract.browse"
              caption="msg://com.company.accountingofcontracts.screen.contract/contractBrowse.menu"/>
        <item screen="Contractor.browse"
              caption="msg://com.company.accountingofcontracts.screen.contractor/contractorBrowse.menu"/>
    </menu>

</menu-config>